@media screen and (min-width: 240px) {
  section.card-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 825px) {
  section.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 34px;
    margin-top: 5rem;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1114px) {
  section.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 34px;
    margin-top: 8rem;
    padding: 0 60px;
  }
}
