$font-color: #edf8f8;
$change-tag: #2ec621;

@mixin cardContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: #5d64f41a;
  border-radius: 15px;
  width: 100%;
  max-height: 240px;
  max-width: 545px;
  padding: 25px;
}

@mixin tabletDesktop {
  div.card-1row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.info {
      display: flex;
      column-gap: 10px;
      img.coin-img {
        width: 35px;
        height: 35px;
      }
      div.coin-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.coin-name-container {
          display: flex;
          align-items: center;
          column-gap: 5px;
        }
      }
    }
  }
  div.card-2row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  div.card-3row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (min-width: 240px) {
  div.container {
    @include cardContainer();
    @include tabletDesktop();
  }
}

@media screen and (min-width: 555px) {
  div.container {
    @include cardContainer();
    @include tabletDesktop();
  }
}

@media screen and (min-width: 1024px) {
  div.container {
    @include cardContainer();
    @include tabletDesktop();
  }
}
