$tag-bg: #1a1b32;

@mixin tag {
    background: $tag-bg;
    padding: 2px 6px;
    border-radius: 4px;
    color: #edf8f880;
    font-size: 1.5rem;
    width: fit-content;
  }

span.rank {
  @include tag();
}
